stages:
  - test

before_script:
  - cd tests
  - vagrant plugin install vagrant-vbguest

after_script:
  - cd tests
  - vagrant destroy -f

test_fedora:
  stage: test
  script:
    - vagrant up fedora
    - vagrant ssh fedora -c "ansible-playbook /vagrant/tests/test.yml -c local --skip-tags checks"
    - vagrant ssh fedora -c "ansible-playbook /vagrant/tests/test.yml -c local --tags checks"

test_debian:
  stage: test
  script:
    - vagrant up debian
    - vagrant ssh debian -c "ansible-playbook /vagrant/tests/test.yml -c local --skip-tags checks"
    - vagrant ssh debian -c "ansible-playbook /vagrant/tests/test.yml -c local --tags checks"

test_centos:
  stage: test
  script:
    - vagrant up centos
    - vagrant ssh centos -c "ansible-playbook /vagrant/tests/test.yml -c local --skip-tags checks"
    - vagrant ssh centos -c "ansible-playbook /vagrant/tests/test.yml -c local --tags checks"

